/* Schedule.css */
.schedule-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: #f1efe7;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  color: #392a11;
  text-align: center;
}

.schedule-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #6a6a44;
}

.schedule-details {
  margin-bottom: 2rem;
}

.schedule-details h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #6a6a44;
}

.schedule-details p {
  font-size: 1rem;
  margin: 0.25rem 0;
}

.add-to-calendar-btn {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #6a6a44;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-calendar-btn:hover {
  background-color: #392a11;
}

/* Guest Check Section */
.guest-check {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e8e4d9;
  border-radius: 8px;
}

.guest-check input {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.check-guest-btn {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #6a6a44;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.check-guest-btn:hover {
  background-color: #392a11;
}
.reception-info-btn {
  background-color: #6a6a44;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 0.5rem;
}

.reception-info-btn:hover {
  background-color: #eeb004;
}

/* Spinner Styling */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #6a6a44;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
